@page "/"
@using static Line
<div class="image-container">
    <img src="UpdatedMetroMap.png" alt="stations">
    @foreach (var item in Loaders.Map)
    {
        int Count = 0;
        @if (CurrentStatin is not null)
        {
            @if (CurrentStatin.Line == item.Line)
            {
                Count = Math.Abs(CurrentStatin.ID - item.ID);
            }
            @if ((CurrentStatin.Line, item.Line) is (Line1, Line2) or (Line2, Line1))
            {
                int switcher = CurrentStatin.ID >= 20 && item.ID > 21 ? 22 :
                CurrentStatin.ID >= 21 && item.ID < 20 ? 19 :
                CurrentStatin.ID >= 21 && item.ID <= 21 ? 22 : 19;

                int Count1 = Math.Abs(CurrentStatin.ID - switcher);
                int Count2 = Math.Abs(item.ID - switcher);
                Count = Count1 + Count2;
            }
            @if ((CurrentStatin.Line, item.Line) is (Line3, Line2) or (Line2, Line3))
            {
                int switcher = 21;
                int Count1 = Math.Abs(CurrentStatin.ID - switcher);
                int Count2 = Math.Abs(item.ID - switcher);
                Count = Count1 + Count2;
            }
            @if ((CurrentStatin.Line, item.Line) is (Line3, Line1) or (Line1, Line3))
            {
                int switcher1 = CurrentStatin.Line is Line1 ?
                CurrentStatin.ID >= 21 ? 22 : 20 :
                item.ID >= 21 ? 22 : 20;
                int switcher2 = 21;
                int SwitchCount = Math.Abs(switcher2 - switcher1);
                int Count1 = CurrentStatin.Line is Line1 ?
                Math.Abs(CurrentStatin.ID - switcher1) :
                Math.Abs(CurrentStatin.ID - switcher2);
                int Count2 = CurrentStatin.Line is Line1 ?
                Math.Abs(item.ID - switcher2) :
                Math.Abs(item.ID - switcher1);
                Count = Count1 + Count2 + SwitchCount;
            }
        }
        <button data-content="@item.ID" title='@item.Name - @(Count is 0 ? "You are here!" : "" )' id="@(item.Name)" @onclick="()=> Click(item)"
                type="button"
                class="look__hotspot absolute-possitioned @(Count is 0 ? "black" : Count < 9 ? "yellow" : Count < 16 ?  "green" : Count < 23 ?  "red" : "blue" )"
                style="@item.Style" @onmouseover="() => MouseOver(item)" @onmouseout="MouseOut"></button>
        <label for="@(item.Name)" style=" @item.Style   position: absolute; font-size:30px">
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @item.Name
        </label>
    }
</div>